# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_DATABASE=postgres

# Network Configuration (Optional - defaults in project.ts)
CHAIN_ID=cosmoshub-4
ENDPOINT=https://cosmos-rpc.polkachu.com

# SubQuery Configuration
SUB_COMMAND=
START_BLOCK=5200791
